* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
}

.ball1 {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
    position: relative;
    animation: move 6s infinite;
    background-color: red;
}

.ball2 {
    @extend .ball1;
    background-color: purple;
    animation: move 4s infinite;
}

.ball3 {
    @extend .ball1;
    background-color: yellow;
    animation: move 8s infinite;
}

@keyframes move {
    0% {left: 0;}
    50% {left: 100%;}
    100% {left: 0;}
}